#packages
  h2.alignCenter IC Tech 2017 Winter Hackathon
  .centerAlign
    h2.headerInfo Remove Weblab code
    h3 
      span.halfWidth
        span(for="inp_package") Package:
        input.inputField(type='text', id='inp_package', value='', placeholder='Provide Package Name')

      span.halfWidth
        span.min_space_left(for="inp_weblab") Weblab:  
        input.inputField(type='text', id='inp_weblab', value='', placeholder='Provide Weblab Name')

    .btn_container
      div(id='cr_submit')
        span Post CR
        span.img_clean
      div.loader.hide
        span.text_info Removing weblab dependancies
      div.cr_info.hide
        span.text_info
        span.cr_remove