#packages
  .centerAlign
    h3 
      span Package:
      input(type='text', id='inp_package', value='')

      span.min_space_left Weblab:  
      input(type='text', id='inp_weblab', value='')

    .btn_container
      button(id='cr_submit') Post CR